@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-cell {
    @apply col-span-1 w-full h-44;
  }
  .blue-button {
    @apply mt-2 px-6 py-1 border-2 border-blue-950 bg-blue-500 text-white font-semibold rounded hover:bg-slate-400;
  }
  .hover-pointer {
    @apply hover:bg-slate-400/70 cursor-pointer;
  }
}

/* Board style */
.x,
.o {
  margin: 0 auto;
  padding-top: 7%;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  font-size: 5rem;
}

/* Pseudo elements */
.x::after {
  content: "❌";
}
.o::after {
  content: "⭕";
}

/* Game over window */

/* Fade-In Effect */
.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade-Out Effect*/
.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
